tokenomics/tokenomics.pdf
tokenomics/tokenomics.out
tokenomics/tokenomics.log
tokenomics/tokenomics.synctex.gz
tokenomics/tokenomics.aux
tokenomics/tokenomics.toc
tokenomics/tokenomics.fdb_latexmk
tokenomics/tokenomics.fls
tokenomics/tokenomics.html

whitepaper/whitepaper.pdf
whitepaper/whitepaper.out
whitepaper/whitepaper.log
whitepaper/whitepaper.synctex.gz
whitepaper/whitepaper.aux
whitepaper/whitepaper.toc
whitepaper/whitepaper.fdb_latexmk
whitepaper/whitepaper.fls
whitepaper/whitepaper.html
