whitepaper/whitepaper.pdf
whitepaper/whitepaper.out
whitepaper/whitepaper.log
whitepaper/whitepaper.synctex.gz
whitepaper/whitepaper.aux
whitepaper/whitepaper.toc
whitepaper/whitepaper.fdb_latexmk
whitepaper/whitepaper.fls
whitepaper/whitepaper.html
